* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
a {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

:root {
    --hover: #cf000f;
    --title-color: #fff;
    --body-color: #767676;
    --transition: all linear .3s;
    --heading: 'Russo One', sans-serif;
    --paragraph: 'DM Sans', sans-serif;
}

body {
    background: #161616;
    overflow-x: hidden;
    position: relative;
}

b {
    color: var(--hover);
}

/*PRELOADING------------ */
#overlayer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
    background: #141414;
}

#overlayer .loader_part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    display: inline-block;
    width: 60px;
    height: 60px;
    z-index: 3;
    border: 7px solid var(--hover);
    top: 50%;
    left: 50%;
    animation: loader 2s infinite ease;
    z-index: 9999999;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--hover);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* ===========================
        COMMON CSS END
============================*/

/* ===========================
        NAV CSS START
============================*/
#nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#nav .nav_part {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#nav .menu_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #141414;
    z-index: 9999;
}

#nav .menu li a {
    margin: 0 5px;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--heading);
    text-transform: capitalize;
    transition: var(--transition);
}

#nav .menu li .contact {
    margin: 0;
    padding: 8px 15px;
    background: var(--hover);
    border-radius: 3px;
}

#nav .menu li a:hover {
    color: var(--hover);
}

#nav .menu li .contact {
    color: var(--title-color) !important;
}

/* floting icon start */


#nav .float_icon ul {
    text-align: center;
    position: fixed;
    top: 150px;
    right: -5px;
    z-index: 9999;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#nav .float_icon ul li .cart,
#nav .float_icon ul li .glass {
    color: var(--title-color);
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: var(--hover);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    position: relative;
}

#nav .float_icon .counter {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: var(--title-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--hover);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--heading);
}


/* offcanvas start */

#nav .float_icon ul li .cart_off {
    background: #141414 !important;
    box-shadow: 0 0 10px #cf000f, 0 0 20px #cf000f, 0 0 30px #cf000f;
}

#nav .float_icon ul li .cart_off .offcanvas-header h5 {
    color: var(--title-color);
    font-size: 25px;
    font-weight: 400;
    font-family: var(--heading);
    letter-spacing: 1px;
    text-transform: capitalize;
}

#nav .float_icon ul li .cart_off .offcanvas-header .close {
    color: var(--hover);
    font-size: 25px;
    background: none;
    border: none;
}

#nav .float_icon ul li .cart_off .offcanvas-body {
    padding: 0 40px;
}

#nav .float_icon ul li .cart_off .offcanvas-body .row {
    padding: 10px 0;
    border-bottom: 1px solid #191919;
}

#nav .float_icon ul li .cart_off .offcanvas-body .row:last-child {
    border: none;
}

#nav .float_icon ul li .cart_off .offcanvas-body h3 {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--paragraph);
    text-align: left;
}

#nav .float_icon ul li .cart_off .offcanvas-body h6 {
    color: var(--body-color);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--heading);
    text-align: left;
}

#nav .float_icon ul li .cart_off .offcanvas-body h6 span {
    color: var(--hover);
    font-size: 22px;
    font-weight: 400;
    font-family: var(--heading);
    text-align: left;
}

#nav .float_icon ul li .cart_off .offcanvas-body .cart_img {
    position: relative;
}

#nav .float_icon ul li .cart_off .offcanvas-body .cart_img .icon_close {
    color: var(--title-color);
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--hover);
}

#nav .float_icon ul li .cart_off .offcanvas-body .checkout a {
    color: var(--title-color);
    font-size: 15px;
    font-weight: 400;
    font-family: var(--heading);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: var(--hover);
    margin-top: 20px;
}

/* offcanvas end */

/* search start */
#nav .float_icon ul li .search_btn .offcanvas-body {
    background: #141414;
    box-shadow: 0 0 10px #cf000f, 0 0 20px #cf000f, 0 0 30px #cf000f;
    padding: 0;
}

#nav .float_icon ul li .search_btn .offcanvas-body .search_txt input {
    width: 100%;
    padding: 40px 400px;
    background: #141414;
    border: none;
    outline: 0;
    color: var(--title-color);
    font-size: 50px;
    font-weight: 400;
    font-family: var(--paragraph);
}

#nav .float_icon ul li .search_btn .offcanvas-body .search_txt input::placeholder {
    color: var(--body-color);
    font-size: 50px;
    text-transform: capitalize;
}

/* search end */

#nav .float_icon ul li .cart:hover,
#nav .float_icon ul li .glass:hover {
    background: #bd000d;
}

#nav .float_icon ul li .cart {
    border-top-left-radius: 10px;
}

#nav .float_icon ul li .glass {
    border-bottom-left-radius: 10px;
}


/* floting icon end */

/* ===========================
        NAV CSS END
============================*/


/* ===========================
        BANNER CSS START
============================*/
#banner {
    padding: 150px 0;
    position: relative;
    z-index: 9;
}

#banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -9;
}

#banner .banner_store h3 {
    color: var(--title-color);
    font-size: 70px;
    font-weight: 500;
    font-family: var(--heading);
    text-transform: capitalize;
}

#banner .banner_store h4 {
    color: var(--title-color);
    font-size: 70px;
    font-weight: 500;
    font-family: var(--heading);
    text-transform: capitalize;
}


/* auto type css start */
#banner .banner_store h4 span.typed-text {
    font-weight: normal;
    color: var(--title-color);
}

#banner .banner_store h4 span.cursor {
    display: inline-block;
    background-color: var(--hover);
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
}

#banner .banner_store h4 span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: var(--hover);
    }

    49% {
        background-color: var(--hover);
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

/* auto type css end */
#banner .banner_store p {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--paragraph);
    line-height: 24px;
    margin-top: 10px;
}

#banner .banner_store .btn {
    position: relative;
    margin-top: 55px;
}

#banner .banner_store .btn a {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--heading);
    background: var(--hover);
    padding: 15px 20px;
    border-radius: 50px;
    text-transform: capitalize;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}



#banner .banner_store .btn .round {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: var(--title-color);
    border: 1px solid var(--title-color);
    text-align: center;
    line-height: 90px;
    right: -30px;
    top: -15px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#banner .banner_store .btn a:hover {
    background: #9e000b;
}

#banner .banner_store .btn .round:hover {
    color: var(--title-color);
    border: 1px solid var(--hover);

    background: var(--hover);
}

/* ===========================
        BANNER CSS END
============================*/


/* ===========================
        SALE CSS START
============================*/
#sale {
    padding: 90px 0;
}

#sale .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0 12px;
}

#sale .timer h5 {
    color: var(--hover);
    font-size: 36px;
    font-weight: 400;
    font-family: var(--heading);
    text-transform: capitalize;
    margin-bottom: 20px;

}

#sale .timer .main_timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

#sale .timer .main_timer .single_counter {
    width: 23%;
    background: #191919;
    text-align: center;
    padding: 25px 0;
    color: var(--title-color);
    font-size: 32px;
    font-weight: 400;
    font-family: var(--heading);
}


#sale .timer .main_timer .single_counter span {
    display: block;
    color: var(--body-color);
    text-transform: capitalize;
}

#sale .sale_part .sale_part {
    position: relative;
    margin: 0 10px;
}

#sale .sale_part .sale_img {
    position: relative;
    overflow: hidden;
    background: #191919;
}

#sale .sale_part .sale_img:after,
#sale .sale_part .sale_img:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 0px;
    background: linear-gradient(185deg, rgba(22, 22, 22, 1) 0%, rgba(207, 0, 15, 1) 50%, rgba(22, 22, 22, 1) 100%);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    z-index: 99;
}

#sale .sale_part .sale_img:before {
    right: 0;
}

#sale .sale_part .sale_img:after {
    left: 0;
}

#sale .sale_part .sale_img img {
    width: 100%;
    max-width: 100%;
    transform: var(--transition);
    -webkit-transform: var(--transition);
    -moz-transform: var(--transition);
    -ms-transform: var(--transition);
    -o-transform: var(--transition);
}

#sale .sale_part .sale_img .sale_icon .cart {
    color: var(--title-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background: var(--hover);
    text-align: center;
    line-height: 35px;
    transform: translateX(36px);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-transform: translateX(36px);
    -moz-transform: translateX(36px);
    -ms-transform: translateX(36px);
    -o-transform: translateX(36px);
}

#sale .sale_part .sale_text h3 {
    color: var(--body-color);
    font-size: 30px;
    font-weight: 600;
    font-family: var(--paragraph);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 15px;
}

#sale .sale_part .sale_text h4 {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--paragraph);
    text-transform: capitalize;
    text-align: center;
}

#sale .sale_part .sale_text h4 span {
    color: var(--hover);
    font-size: 30px;
    font-family: var(--heading);
    letter-spacing: 2px;
}

#sale .sale_part .sale_img:hover:after,
#sale .sale_part .sale_img:hover:before {
    height: 150px;
}

#sale .sale_part:hover .sale_img .sale_icon .cart {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

/* ===========================
        SALE CSS END
============================*/
/* ===========================
        ABOUT CSS START
============================*/

#about {
    position: relative;
}

#about:after {
    position: absolute;
    content: '';
    top: 50px;
    right: -400px;
    width: 800px;
    height: 800px;
    border: 80px solid #161616;
    transform: rotate(35deg);
    z-index: -1;
    -webkit-box-shadow: 0 25px 60px rgb(0 0 0 / 67%), inset 0 25px 60px rgb(0 0 0 / 67%);
    box-shadow: 0 25px 60px rgb(0 0 0 / 67%), inset 0 25px 60px rgb(0 0 0 / 67%);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

#about .section_heading {
    color: var(--title-color);
    font-size: 100px;
    font-family: 400;
    font-family: var(--heading);
    text-transform: capitalize;
    position: relative;
    margin-bottom: 60px;
}

#about .section_heading:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 8px;
    background: var(--hover);
}

#about .about_img {
    /* border-top: 5px solid rgba(118, 118, 118, 0.2);
    border-left: 5px solid rgba(118, 118, 118, 0.2); */
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);

}

#about .about_img img {
    width: 100%;
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#about .about_text .ezone {
    color: var(--hover);
    font-size: 18px;
    font-family: 400;
    font-family: var(--heading);
    letter-spacing: 6px;
    margin-bottom: 15px;
}

#about .about_text h4 {
    color: var(--title-color);
    font-size: 32px;
    font-family: 400;
    font-family: var(--heading);
    text-transform: uppercase;
}

#about .about_text p {
    color: var(--body-color);
    font-size: 14px;
    font-family: 400;
    font-family: var(--paragraph);
    text-transform: uppercase;
    margin-top: 40px;
}

#about .about_text p span {
    display: block;
    margin-top: 30px;
}

#about .about_text .btn {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--heading);
    background: var(--hover);
    padding: 15px 20px;
    border-radius: 50px;
    margin-top: 30px;
    text-transform: capitalize;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#about .about_text .btn:hover {
    background: #9e000b;
}

#about .about_img:hover img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    box-shadow: 0 0 10px #cf000f, 0 0 20px #cf000f, 0 0 30px #cf000f, 0 0 40px #cf000f;

}

#about .about_img:hover {
    border-color: var(--hover);
}

/* ===========================
        ABOUT CSS END
============================*/


/* ===========================
        STREAM CSS START
============================*/
#stream {
    padding: 90px 0;
}

#stream .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0 12px;
}

#stream .section_heading {
    color: var(--title-color);
    font-size: 100px;
    font-family: 400;
    font-family: var(--heading);
    text-transform: capitalize;
    position: relative;
    margin-bottom: 60px;
}

#stream .section_heading:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 8px;
    background: var(--hover);
}

#stream .live_img {
    position: relative;
}

#stream .live_img .plus {
    position: absolute;
    color: var(--title-color);
    width: 45px;
    height: 45px;
    line-height: 45px;
    bottom: 0;
    right: 0;
    text-align: center;
    background: var(--hover);
}

#stream .live_text {
    padding: 20px;
    background: #191919;
}

#stream .live_text h3 {
    color: var(--title-color);
    font-size: 25px;
    font-family: var(--heading);
    margin-top: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

#stream .live_text .live_menu {
    margin-top: 30px;
}

#stream .live_text .live_menu h4 {
    color: var(--hover);
    font-size: 25px;
    font-family: var(--heading);
    text-transform: uppercase;
}

#stream .live_text .live_menu h5 i {
    font-size: 20px;
    margin-right: 9px;
}

#stream .live_text .live_menu h5 {
    color: var(--body-color);
    font-size: 25px;
    font-family: var(--heading);
    text-align: right;
}



/* ===========================
        STREAM CSS END
============================*/
/* ===========================
        COUNTER CSS START
============================*/
#counter {
    padding: 90px 0;
    position: relative;
    z-index: 1;
}

#counter:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

#counter .counter_part {
    padding: 40px;
    text-align: center;
    border: 1px solid var(--hover);
    background: #191919;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #cf000f;
}

#counter .counter_part h3 {
    color: var(--title-color);
    font-size: 50px;
    font-weight: 400;
    font-family: var(--heading);
    text-transform: uppercase;
    margin-bottom: 15px;
    display: inline-block;
}

#counter .counter_part span {
    color: var(--title-color);
    font-size: 50px;
    font-weight: 400;
    font-family: var(--heading);
    text-transform: uppercase;
    margin-bottom: 15px;
}

#counter .counter_part p {
    color: var(--body-color);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--paragraph);
    text-transform: capitalize;
}

/* ===========================
        COUNTER CSS END
============================*/

/* ===========================
        PRODUCT CSS START
============================*/

#product {
    padding: 90px 0;
}

#product .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0 12px;
}

#product .section_heading {
    color: var(--title-color);
    font-size: 100px;
    font-family: 400;
    font-family: var(--heading);
    text-transform: capitalize;
    position: relative;
    margin-bottom: 60px;
}

#product .section_heading:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 8px;
    background: var(--hover);
}

#product .product_part .product_img {
    position: relative;
    clip-path: polygon(20% 0, 100% 0, 100% 30%, 100% 90%, 80% 100%, 30% 100%, 0 100%, 0 10%);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#product .product_part .product_img:after,
#product .product_part .product_img:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 0px;
    background: linear-gradient(185deg, rgba(22, 22, 22, 1) 0%, rgba(207, 0, 15, 1) 50%, rgba(22, 22, 22, 1) 100%);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    z-index: 9;

    box-shadow: 0 0 10px #cf000f, 0 0 20px #cf000f, 0 0 30px #cf000f;
}

#product .product_part .product_img:before {
    right: 0;
}

#product .product_part .product_img:after {
    left: 0;
}

#product .product_part .product_img {
    text-align: center;
    background: #191919;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

#product .product_part .product_img .icon {
    position: absolute;
    top: 0;
    right: -128px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#product .product_part .product_img a {
    color: var(--title-color);
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: rgba(207, 0, 14, 0.8);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#product .product_part .product_text h3 {
    color: var(--body-color);
    font-size: 30px;
    font-weight: 600;
    font-family: var(--paragraph);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 15px;
}

#product .product_part .product_text h5 {
    color: var(--title-color);
    font-size: 30px;
    font-weight: 500;
    font-family: var(--heading);
    text-transform: capitalize;
    text-align: center;
}

#product .product_part:hover .product_img:after,
#product .product_part:hover .product_img:before {
    height: 200px;
}

#product .product_part:hover .product_img .icon {
    right: 0;
}

#product .product_part .product_img a:hover {
    background: var(--hover);
    color: var(--title-color);
}

/* ===========================
        PRODUCT CSS END
============================*/

/* ===========================
        JOIN CSS START
============================*/
#join {
    padding: 90px 0;
    position: relative;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}

#join:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 40px;
    height: 2px;
    border-radius: 5px;
    background: var(--hover);
    box-shadow: 0 0 10px #cf000f,
        0 0 20px #cf000f,
        0 0 30px #cf000f,
        0 0 40px #cf000f,
        0 0 50px #cf000f;
    animation: gloweffect2 10s infinite alternate;
    -webkit-animation: gloweffect2 10s infinite alternate;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#join:before {
    content: '';
    position: absolute;
    top: -2px;
    right: 0;
    width: 40px;
    height: 2px;
    border-radius: 5px;
    background: var(--hover);
    box-shadow: 0 0 10px #cf000f, 0 0 20px #cf000f, 0 0 30px #cf000f, 0 0 40px #cf000f, 0 0 50px #cf000f;
    animation: gloweffect 10s infinite alternate;
    -webkit-animation: gloweffect 10s infinite alternate;
}

@keyframes gloweffect {
    0% {
        right: 0%;
    }

    50% {
        right: 95%;
    }

    100% {
        right: 0%;
    }
}

@keyframes gloweffect2 {
    0% {
        left: 02%;
    }

    50% {
        left: 95%;
    }

    100% {
        left: 0%;
    }
}

#join .join_vdo {
    position: relative;
}

#join .join_vdo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

#join .join_vdo .play a {
    position: absolute;
    font-size: 25px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: var(--hover);
    background: var(--title-color);
    text-align: center;
    line-height: 90px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    z-index: 99;
}


#join .join_text h3 {
    color: var(--hover);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--heading);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 5px;
}

#join .join_text .ezone {
    color: var(--hover);
}

#join .join_text h2 {
    color: var(--title-color);
    font-size: 32px;
    font-weight: 400;
    font-family: var(--heading);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#join .join_text p {
    color: var(--body-color);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--paragraph);
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-right: 150px;
}

#join .join_text .btn {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--heading);
    background: var(--hover);
    padding: 15px 20px;
    border-radius: 50px;
    text-transform: capitalize;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#join .join_text .btn:hover {
    background: #9e000b;
}

/* ===========================
        JOIN CSS END
============================*/

/* ===========================
        PLAYER CSS START
============================*/
#player {
    padding: 60px 0;
    background: #191919;
}

#player .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0 12px;
}


#player .section_heading {
    color: var(--title-color);
    font-size: 100px;
    font-family: 400;
    font-family: var(--heading);
    text-transform: capitalize;
    position: relative;
    margin-bottom: 60px;
}

#player .section_heading h4 {
    color: var(--hover);
}

#player .section_heading h4 .ezone {
    color: var(--title-color)
}

#player .player_part {
    margin-bottom: 30px;
}

#player .player_part .player_img {
    position: relative;
    overflow: hidden;
}

#player .player_part .player_img img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#player .player_part .player_img ul {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    opacity: 0;
}



#player .player_part .player_img ul li a {
    color: var(--title-color);
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: var(--hover);
    margin: 0 5px;
}

#player .player_part .player_img {
    text-align: center;
}

#player .player_part .player_text h3 {
    color: var(--title-color);
    font-size: 32px;
    font-weight: 400;
    font-family: var(--heading);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 15px;
    text-align: center;
}

#player .player_part:hover .player_img img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

#player .player_part:hover .player_img ul {
    bottom: 13px;
    opacity: 1;
}

/* ===========================
        PLAYER CSS END
============================*/


/* ===========================
        SUBSCRIBE CSS START
============================*/
#sub {
    padding: 90px 0;
    position: relative;
    z-index: 1;
}

#sub:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

#sub .sub_part h2 {
    color: var(--title-color);
    font-size: 45px;
    font-weight: 400;
    font-family: var(--heading);
    text-transform: capitalize;
    letter-spacing: 2px;
}

#sub .sub_part a {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--heading);
    background: var(--hover);
    padding: 15px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 35px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

/* ===========================
        SUBSCRIBE CSS END
============================*/

/* ===========================
        FOOTER CSS START
============================*/
#footer {
    padding-top: 90px;
}

#footer .footer_left p {
    color: var(--body-color);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--paragraph);
    line-height: 24px;
    margin-top: 25px;
    margin-bottom: 35px;
}

#footer .footer_left .social ul li a {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    background: rgba(255, 255, 255, 0.219);
    text-align: center;
    margin-right: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#footer .footer_part h3 {
    color: var(--title-color);
    font-size: 30px;
    font-weight: 400;
    font-family: var(--heading);
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

#footer .footer_part ul li a {
    color: var(--body-color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--paragraph);
    text-transform: capitalize;
    position: relative;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    margin-bottom: 5px;
}

#footer .footer_left .social ul li a:hover {
    background: var(--title-color);
    color: #161616;
}

#footer .footer_part ul li a:hover {
    color: var(--hover);
    padding-left: 5px;
}

#footer .copyright {
    height: 70px;
    background: #191919;
    margin-top: 90px;
}

#footer .copyright h3 {
    text-align: center;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--paragraph);
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 2px;
}

#footer .copyright h3 a {
    color: var(--hover);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--heading);
    text-transform: uppercase;
    line-height: 70px;
}

#footer .copyright .bk_btn {
    display: none;
}

#footer .copyright .bk_btn i {
    color: var(--title-color);
    font-size: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    line-height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#footer .copyright .bk_btn i:hover {
    background: var(--hover);
}

/* ===========================
        FOOTER CSS END
============================*/